/* Background Formatting */

body {
    margin: 0;
}

.main-background {
    background-color: rgb(31, 33, 36);
    width: 100%;
    height: 100%;
    position: absolute;

}

.main-page {
    position: relative;
    margin:auto;
    height: 100%;
    width: 45rem;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
}



/* Main Formatting */

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin-top: 4rem;
}

.header-socials {
    flex-direction: row;
    display: flex;
}

.header-text {
    flex-direction: column;
}

.footer {
    position: absolute;
    display: flex;
    bottom: 0;
    padding-bottom: 1rem;
    justify-content: space-between;
    width: 100%;
}

.content {
    overflow: auto;
    height: 38rem;
    width: 45rem;
    padding-right: 0.5rem;
    margin-top: 3rem;
}

/* Text Formatting */

.text {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    margin-top: 0rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color:rgb(255, 255, 255);
    width: 40rem;
}

.text2 {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-top: 0.35rem;
    font-weight: 400;
    color: #34ceed;
    opacity: 100%;
    width: 40rem;
}

.text4 {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    font-weight: 400;
    color: #ffffff;
    opacity: 100%;
}

.text5 {
    font-size: 1rem;
    font-family: "Menlo", "Meslo LG", monospace;
    margin: 0;
    margin-top: 0.75rem;
    line-height: 1.90rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    opacity: 60%;
    text-align: justify;

}

.text6 {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-bottom: 0.75rem;
    font-weight: 600;
    color: #ffffff;
    opacity: 100%;
    margin-top: 1.5rem;
}

.text7 {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-bottom: 0.75rem;
    font-weight: 400;
    color: #ffffff;
    opacity: 100%;
}

.text8 {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-bottom: 0.25rem;
    font-weight: 400;
    color: #ffffff;
    opacity: 100%;
    text-decoration: underline;
}

.text8:hover {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-bottom: 0.25rem;
    font-weight: 400;
    color: #ffffff;
    opacity: 70%;
}

.text9 {
    font-size: 0.85rem;
    font-family: "Menlo", "Meslo LG", monospace;
    margin: 0;
    line-height: 1.70rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    opacity: 60%;
    text-align: justify;

}

.nav-button {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-top: 0.35rem;
    font-weight: 400;
    color: #34ceed;
    opacity: 100%;
    width: 40rem;
    text-decoration: none;
}

.nav-button:hover {
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0.15rem;
    margin: 0;
    margin-top: 0.35rem;
    font-weight: 400;
    opacity: 80%;
    width: 40rem;
    text-decoration: underline;
}

.sitemap-button {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-weight: 400;
    color: #ffffff;
    opacity: 100%;
    width: 40rem;
    text-decoration: none;
}

.sitemap-button:hover {
    opacity: 60%;
    width: 40rem;
    text-decoration: none;
}

.text3 {
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-weight: 400;
    color: #ffffff;
    opacity: 60%;
}

.divider {
    height: 0.5rem;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 0.75rem;
}



/* Image-Text Card Formatting */

/* Button Formatting */

.button-list {
    margin: 0;
    margin-top: 25rem;
}

.button-image {
    width: 1rem;
    height: 1rem;
    color: inherit;
}

.social-button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: rgb(31, 33, 36);
    outline: 0;
    border: 0;
    border-radius: 1rem;
    margin: 0rem;
    padding: 0;
    align-content: center;
    padding-top: 0.1rem;
}

.social-button:hover {
    width: 1.5rem;
    height: 1.5rem;
    outline: 0;
    border: 0;
    border-radius: 2.5rem;
    margin: 0rem;
    padding: 0;
    align-content: center;
    padding-top: 0.1rem;
    opacity: 70%;
}



.social-button:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: rgb(59, 63, 70);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    bottom: 100%;
    margin-bottom: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.circle {
    width: 4px;
    height: 4px;
    border-radius: 4px;
    opacity: 60%;
    background-color: #ffffff;
}

/* width */
::-webkit-scrollbar {
    position: absolute;
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    opacity: 0%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
    border-radius: 1rem;
    width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.image-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
}

.image-showcase-item-small {
    position: relative;
    width: 14rem;
    height: 8rem;
}

.image-showcase-item-medium {
    position: relative;
    width: 22rem;
    height: 12rem;
}

.image-showcase-item-large {
    position: relative;
    width: 14rem;
    height: 8rem;
}

.project-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    margin-bottom: 2rem;
}

.project-showcase-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.project-showcase-item {
    position: relative;
    width: 14rem;
    height: 8rem;
}

.project-info {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.project-info-image-container {
    width: 18.5rem;
    height: 10rem;
    border-right: 2px solid #ffffff;
}

.project-info-image {
    width: 18.5rem;
    height: 10rem;
}

.showcase-image {
    display: block;
    height: 100%;
    width: auto;
}

.project-image {
    display: block;
    height: 100%;
    width: auto;
}

.project-showcase-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
    background-color: #000000;
    text-align: center;
}

.project-showcase-item:hover .project-showcase-item-overlay {
    opacity: 0.75;
}

.project-info-text {
    padding-left: 1rem;
}